{% extends 'base.html' %}

{% block header %}
    <title>Home</title>
{% endblock %}

{% block content %}
    <div class="home-container">
        <h1>Welcome {{ current_user.username }}</h1>
        <a href="{{ url_for('.tickets') }}">View Tickets</a><br>
        {% for role in current_user.roles %}
            {% if role.name == 'Manager' %}
                <a href="{{ url_for('.create_ticket') }}">Create Ticket</a><br>
            {% endif %}
            {% if role.name == 'Admin' %}
                <a href="{{ url_for('auth.users') }}">Edit Users</a><br>
            {% endif %}

        {% endfor %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
{% endblock %}