{% extends 'base.html' %}

{% block header %}
    <title>Ticket</title>
{% endblock %}

{% block content %}
    <div class="ticket-container">
        <h1>Ticket {{ ticket.id }}</h1>
        <div class="form-container">
            <form method="post">
                <div class="form-group">
                    <label for="note">Note:</label>
                    <input type="text" id="note" name="note" value="{{ ticket.note }}">
                </div>
                <div class="form-group">
                    <label for="status_id">Status:</label>
                    <select id="status_id" name="status_id">
                        {% for status in statuses %}
                            <option value="{{ status.id }}">{{ status.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="group_id">Group:</label>
                    <select id="group_id" name="group_id">
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="user_id">Assigned to:</label>
                    <select id="user_id" name="user_id">
                        <option value="{{ None }}">Not Assigned</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <input type="submit" value="Update Ticket" class="btn">
            </form>
        </div>
        <div class="back-link">
            <a href="{{ url_for('.tickets') }}">Back to Tickets</a>
        </div>
    </div>
{% endblock %}
